<!-- <span class = "droptext">Front End Developer</span>
<span class = "droptext">Ux Designer</span> -->
<span class = "tlt">
  <ul class="texts">
    <li>Front End Developer</li>
    <li>UX Designer</li>
  </ul>
</span>
