<div class="background">
	<div class="nav">
		<ul>
			{{smooth-scroll}}
		</ul>
	</div>
	<div class="name">
		<h1>
			Jesse Wang<br>
		</h1>
		<h2>{{drop-text}}</h2>
	</div>
</div>

<section id="about">
	<div class="blurb">
		<h1>{{application-typed}}</h1>
    I am an upcoming Computer Science graduate studying at UC San Diego.
    After working on a number of web application projects, I became particularly interested
    in front-end development and UI/UX design. I enjoy the entire process associated with
    developing intuitive applications from inception to deployment. With my skills, I hope
    to deliver beautiful applications with a natural and fluid user interface.
	</div>
</section>

<section id="resume">
	<div class="container">
		<div class="row">
			<div class="col-sm-4">
				<img src="images/education.png">
				<h3>Education</h3>
				UC San Diego<br>
			  <span class="resume-color">GPA:</span> 3.0<br>
				<span class="resume-color">Major:</span> B.S. Computer Science (2017)<br>
			</div>

			<div class="col-sm-4">
				<img src="images/skills.png">
				<h3>Skills</h3>
				<span class="resume-color">Languages:</span> Java, C++, JS, HTML/CSS<br>
				<span class="resume-color">Dev Tools:</span> NodeJS, EmberJS, AngularJS, Sass, Heroku, Git, MongoDB, PostgreSQL<br>
				<span class="resume-color">Design:</span> Balsamiq, Adobe CC<br>
			</div>

			<div class="col-sm-4">
				<img src="images/experience.png">
				<h3>Experience</h3>
				<span class="resume-color">Achieve Internet:</span> Software Engineer Intern<br>
				<span class="resume-color">Zulu Inc:</span> Software Engineer Intern <br>
				<span class="resume-color">Litech:</span> Software Engineer Intern<br>
			</div>
		</div>
	</div>
</section>

<section id="projects">
		<h1>Projects</h1>
  	<div class="container">
			<div class="row row-odd">
				<div class="col-sm-10 col-sm-offset-1">
					<div class="project">
						<img class="img-responsive" src="images/sexducate.png">
						<div class="project-description">
							<h2>HTML/CSS + JS + Design + Data Analysis</h2>
							<p><span class="firstword">>Sexducate</span> seeks to provide an interactive and functional
              source for STD awareness in the San Diego area. Stemming from a need for more
              responsive and data-driven awareness platforms, our website utilizes javascript
              technologies to provide intuitive choropleth maps featuring interactive charts.
							</p>
								<a href="" target="_blank">
									<div class="project-info">
										Read More
									</div>
								</a>
								<a href="" target="_blank">
									<div class="project-info">
										GitHub
									</div>
								</a>
							</div>
						</div>
					</div>
				</div>

        <div class="row row-odd">
					<div class="col-sm-10 col-sm-offset-1">
						<div class="project">
							{{#slick-slider autoplay=true autoplaySpeed=2000 fade=true}}
								<img class="img-responsive" src="http://imgur.com/et1qgWJ.png">
								<img class="img-responsive" src="images/LitechPic.png">
							{{/slick-slider}}
							<!-- <img class="img-responsive" src="images/gooutside.png"> -->
							<div class="project-description">
								<h2>HTML/CSS + JS + Design</h2>
                <p><span class="firstword">GO!outside</span> is the product of a 10-week 2 person
                  team project. The project focuses on the entire application development process from
                  prototyping to implementation. GO!outside stems from the belief that humans
                  have become too attached to device screens and unaware of the surrounding
                  natural beauty. Our application hopes to solve this problem by providing a
                  simple and intuitive platform for locating awesome outdoor locations.
								</p>
									<a href="" target="_blank">
										<div class="project-info">
											Read More
										</div>
									</a>
									<a href="" target="_blank">
										<div class="project-info">
											GitHub
										</div>
									</a>
								</div>
							</div>
						</div>
					</div>

          <div class="row row-odd">
						<div class="col-sm-10 col-sm-offset-1">
							<div class="project">
								<img class="img-responsive" src="images/LitechPic.png">
								<div class="project-description">
									<h2>MEEN stack + Design</h2>
									<p><span class="firstword">Litech</span> is a single-page web application developed for an
                    online marketplace seller. The website focuses on providing a simpler yet
                    equally informative alternative to other optical analyzer equipment
                    websites.
									</p>
										<a href="" target="_blank">
												Read More
										</a>
										<a href="" target="_blank">
											<div class="project-info">
												GitHub
											</div>
										</a>
									</div>
								</div>
							</div>
						</div>
	</div>
</section>


<section id="contact">
	<h1>Contact</h1>
	<div class="container">
		<div class="row">
			<div class="col-xs-6 text-right">
				<a href="" target="_blank"><img class="img-responsive" src="images/mail.png"></a>
			</div>
			<div class="col-xs-6 text-left">
				<a href="http://github.com/jjwang123" target="_blank"><img class="img-responsive" src="images/github.png"></a>
			</div>
		</div>
	</div>
	<div class="contact-text">
		jesswaaang@gmail.com<br>
	</div>
</section>
