
<ul id = "backarrow">
  <a href="/">
		<li>
			<img class="back-btn" src="/images/back.svg" />
		</li>
	</a>
</ul>

<div class = "text-container">
  <div class = "row row-sexducate">
    <div class = "col-sm-10 col-sm-offset-1">
      <div class = "starting">GO!outside is a location discovery application specializing in hidden and local outdoors
        "spots." By leveraging local knowledge of neighborhoods, counties, or cities, it provides a solution for users
        having difficulty finding memorable locations for tourism, inspiration, or relaxation. GO!outside was developed by
        2 students over a 10 week process focusing on human computer interaction through user research, testing,
        storyboarding, and prototyping.
      </div>
      <div class = "title">Motivation</div>
      <div class = "section">The idea for GO!outside formed from the need for a healthier outdoors lifestyle in a technology-driven age. Although
        I am an active individual with an intrinsic love for nature and beautiful sights, I find it difficult to continually
        discover new outdoors location or "spots" to visit. The problem lies in that many of the best locations are revealed
        through word of mouth or rigorous searching. Instead of spending time researching "spots," many individuals would rather
        spend the day binging Netflix. With GO!Outside, we hope to eliminate this difficulty so individuals can spend their
        time at the "spot" and not researching.
      </div>
      <div class = "title">User Research</div>
      <p>To affirm our beliefs about today's technology driven society, we interviewed college students (ages 18-22) regarding
         their lifestyles. We hoped to uncover the different reasons for leading an outdoor or indoor driven lifestyle.
      </p>
      <ul>
        <li>Favorite after class or weekend activity?</li>
        <li>How many times do you exercise a week?</li>
        <li>Do you enjoy outdoors activities?</li>
        <li>Favorite outdoors location in San Diego?</li>
        <li>Do you eat healthy?</li>
      </ul>
      <p>From these questions, we were able to better understand why individuals ventured outdoors or preferred to stay home.
        For most of the students, the preferred after class activity involved watching Netflix or any other streaming service.
        The answer did not come as a surprise, because students are very often too tired from schoolwork. However, we did discover
        that most students enjoyed light exercise or gym 3-6 days a week. Most if not all students understood the benefits of
        leading a healthy and active lifestyle, but many cited time and work as impediments. The students had different
        favorite outdoors locations but did not cover a wide spectrum. In other words, students did not know about another student's
        favorite locations but showed great interest. College students are extremely interested in the outdoors but are detered
        by schoolwork.
      </p>
      <div class = "title">Ideation</div>
      <p>With our research, we were able to determine that time was an extremely important factor. Individuals did not want to waste
        time filing through vast amounts of information online. Instead, they desired a platform for curated locations that they could
        quickly access. We brainstormed and settled on a few different possibilities.
      </p>
      <ul>
        <li>1. Online forum where you can post and discuss locations, descriptions, and directions</li>
        <li>2. Instagram style, where users were simply given numerous "spots" ranked by likes/stars.</li>
        <li>3. Tinder style, where "spots" are given randomly, and users simply select based on images.</li>
      </ul>
      <p>While testing and researching our ideas, we found that the best solution would be to combine key components
        of each idea. We wanted out application to help users quickly reach beautiful "spots." The style of Tinder
        allows users to quickly scroll through locations but made it difficult to revisit old spots without back-tracking.
        Instagram style listing seemed like the best option at first, but it did not have the same quickness as a swiping
        style application. We dismissed the first idea, as it felt too clunky for an application setting. Instead, we opted
        to combine key components of each idea into one application.
      </p>
      <div class = "title">Storyboarding</div>
      <p>Through our user research, we were able to formulate personas for the types of people utilizing our application.
      </p>
      <ul>
        <li>1. Health-conscious college student with barely any free time.</li>
        <li>2. Chronic Netflix watcher.</li>
        <li>3. New residents or tourists who want a more "local" or native experience.</li>
      </ul>
      <div class = "row">
        <div class = "col-sm-10 col-sm-offset-1">
          <div class = "single-img" style = "display:inline-block; text-align:center;">
            <img class = "img-responsive" src = "http://i.imgur.com/avM1FfH.jpg">
              <div class = "img-title">Storyboard</div>
          </div>
        </div>
      </div>
      <p>Each persona had different reasons for utilizing our application, but all desired a solution that was simple
        and efficient.
      </p>
      <div class = "title">Design</div>
      <p>We decided to implement the Tinder style swiping into a carousel at the top of our main page. This way, users
        had the option to quickly choose a location based on pictures. On top of listing each "spot" in the Instgram style,
        we also implemented a visual map to help users better locate locations.
      </p>
      <div class = "row">
        <div class = "col-sm-10 col-sm-offset-1">
          <div class = "single-img" style = "display:inline-block; text-align:center;">
            <img class = "img-responsive" src = "http://i.imgur.com/kAXxnXO.png">
              <div class = "img-title">Lo-fi prototype</div>
          </div>
        </div>
      </div>
      <p>The main feature we had difficulty finalizing was the upload feature. At first, we decided that we wanted
        to implement an user profile feature. This way, we could keep track of uploads and users could favorite certain
        locations. However, we found later through testing that user profiles were unnecessary. Using FluidUI allowed us to
        conduct user testing without constructing the actual application. However, we also conducted various
        user testing on our live version. This way, we knew which areas were problems and if bugs existed in our code.
        During user testing, we utilized certain criteria to evaluate usability.
      </p>
      <ul>
        <li>Frequency of use for specific features</li>
        <li>Time elapsed to complete a certain use case</li>
        <li>Any user confusion</li>
      </ul>
      <p>Uploading became an issue for many users during testing. During our first iteration, we implemented uploading
        in the profile section. Many of our users spent too much time trying to figure out where the upload function was
        located. So, we decided to move upload to our main page. Moving our upload function helped our application flow
        better. We also conducted A/B testing to determine the usability of a user profile page. We found that many users
        chose to ignore the profile page and opted to find locations as a "guest." The low usage of our profile feature
        prompted us to remove the feature altogether.
      </p>
      <div class = "row">
        <div class = "col-sm-4 col-sm-offset-4">
          <div class = "single-img" style = "display:inline-block; text-align:center;">
            <img class = "img-responsive" src = "http://i.imgur.com/92w6Tcz.png">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
