
<ul id = "backarrow">
  <a href="/">
		<li>
			<img class="back-btn" src="/images/back.svg" />
		</li>
	</a>
</ul>

<div class = "text-container">
  <div class = "row row-sexducate">
    <div class = "col-sm-10 col-sm-offset-1">
      <div class = "starting">Sexducate represents the result of combining design principles and web technologies to create
        an interactive sexual education resource for the greater San Diego area. It serves to provide
        sexual education without overwhelming the user with superfluous and unnecessary information. Provided
        with an intialized database of medical ailments throughout San Diego area, we sought to bring a
        solution to proper sexual education.
      </div>
      <div class = "title">Motivation</div>
      <p>Although there exists numerous resources for obtaining information relating to STD's, none provide
        an informative yet elegant solution. Also, many of these sites are cluttered with irrelevant information or are
        scientific articles/eBooks hiding behind a paywall.
      </p>
      <div class = "row">
        <div class = "col-sm-4 col-sm-offset-4">
          <div class = "single-img" style = "display:inline-block; text-align:center;">
            <img class = "img-responsive" src = "http://i.imgur.com/BLfxash.png" style = "padding-bottom:10px">
              <div class = "img-title">Solution 1</div>
          </div>
          <div class = "single-img" style = "display:inline-block; text-align:center;">
            <img class = "img-responsive" src = "http://i.imgur.com/S6KOM72.png" style = "padding-bottom:10px">
              <div class = "img-title">Solution 2</div>
          </div>
          <div class = "single-img" style = "display:inline-block; text-align:center;">
            <img class = "img-responsive" src = "http://i.imgur.com/LGJV6No.png" >
              <div class = "img-title">Solution 3</div>
          </div>
        </div>
      </div>
      <p>All of these solutions appear extremely daunting, filled to the brim with information. Any user would feel
        reluctant scanning through the poorly formatted text or paying for widely available information. Sexducate seeks
        to alleviate this reluctance by providing the most relevant information packaged in an elegant platform.
      </p>
      <div class = "title">User Research</div>
      <p>With teenagers (ages 13-18) being our largest possible userbase. We faced the problem of attracting and maintaining
        their attention. <span class = "bolded">How could we attract uninterested individuals to our site?</span> Our research
        group consisted of college individuals aged 18-22 and asked questions such as:
      </p>
      <ul>
        <li>When and what was your first sexually-explicit encounter?</li>
        <li>Have you ever had formal sexual education?</li>
        <li>Have you ever personally researched sexual education?</li>
        <li>What do you believe is the most common STD?</li>
        <li>Do you practice safe sex?</li>
      </ul>
      <p>From these questions, we were able to better understand the interaction between teenagers and sex. Nearly
        every individual first encountered sex through a form of media, whether television or internet, at a relatively
        early age (grades 6-12). Very rarely did an individual personally seek out sexual education, but every individual
        participated in sexual education during school. However, individuals seemed to misunderstand the prevelance of certain
        types of STD's. Many individuals believed more media-pervasive STD's such as AIDS, HIV, Gonorhea represented most common STD's.
        Some even believed very common infections such as Syphillis were non-existent or "cured".
      </p>
      <p>With our research, we were able to make several realizations. The entry-point and proliferation of our website relied
        on the K-12 educational system. We tested several other ideas, such as spreading through social media platforms. Further
        research revealed that many teenagers of the current generation hold social media sacred and integral to social hierarchy
        and interaction. Very few individuals professed interest in retweeting or sharing a website regarding STD information and
        preferred to keep their social media specifically about personal activities. Since every individual participated in a
        sexual education course at one point in K-12, we focused our design on maintaining interest through interactive design.
      </p>
      <div class = "title">Design</div>
      <p>To quickly convey information about STD's, we decided to develop Sexducate as a single-page application. With a SPA,
        we held more control over a user's navigation. Through paper prototyping, I was able to conviently
        collaborate and edit sketches with the team before deciding on a singular design.
      </p>
      <div class = "row">
        <div class = "col-sm-10 col-sm-offset-1">
          <div class = "single-img" style = "display:inline-block; text-align:center;">
            <img class = "img-responsive" src = "http://i.imgur.com/1R5L9io.png">
              <div class = "img-title">Paper Prototype</div>
          </div>
        </div>
      </div>
      <p>Our application design caters to both visual and verbal learners. We provide detailed, relevant text infographs
        coupled with an interactive choropleth map. We focus on providing global STD information before providing more specific,
        detailed information about the greater San Diego area.
      </p>
      <div class = "row">
        <div class = "col-sm-4 col-sm-offset-4">
          <div class = "single-img" style = "display:inline-block; text-align:center;">
            <img class = "img-responsive" src = "http://i.imgur.com/Rod5uI7.png" style = "padding-bottom:10px">
          </div>
        </div>
      </div>
      <div class = "row">
        <div class = "col-sm-4 col-sm-offset-4">
          <div class = "single-img" style = "display:inline-block; text-align:center;">
            <img class = "img-responsive" src = "http://i.imgur.com/Gu1CgQK.png" style = "padding-bottom:10px">
          </div>
        </div>
      </div>
      <div class = "row">
        <div class = "col-sm-4 col-sm-offset-4">
          <div class = "single-img" style = "display:inline-block; text-align:center;">
            <img class = "img-responsive" src = "http://i.imgur.com/Ur3AVEZ.png">
              <div class = "img-title">Balsamiq Low-Fidelity</div>
          </div>
        </div>
      </div>
      <p>Although we already constructed a fairly detailed paper prototype, we still wanted to visualize the
        flow of our application with a protype made with Balsamiq. We finalized our user interaction flow by beginning
        with a simple introduction, leading into statistics, and ending with medical solutions. Through this flow, the
        user is able to understand and resolve the problem. After creating the high-fidelity prototype through InVision
        and Photoshop, we were able to begin development.
      </p>
      <div class = "row">
        <div class = "col-sm-4 col-sm-offset-4">
          <div class = "single-img" style = "display:inline-block; text-align:center;">
            <img class = "img-responsive" src = "http://i.imgur.com/99UkBzj.jpg">
          </div>
        </div>
      </div>
      <div class = "title">Development</div>
      <p>As the lead developer of the project, I decided to implement the project using
      HTML5, CSS3, and D3 for our frontend, and NodeJS, Express, and Postgres for our backend.
      I started learning D3 by implementing simple bar graphs but decided to switch to circle graphs
      for better STD percentage visualization. To introduce an interactive feel to our application, I also
      implemented a chloropleth map of the Greater San Diego area. The choropleth map not only provided
      a visual display of all prevalent STD's but also statistical data for each individual area code. Each
      section of the map represents an area code specified in a geoJSON file. By uploading the geoJSON to MapBox,
      I was able to create a static choropleth map of San Diego representing each zip area. After querying my
      Postgres database with Express routing and storing the data in JSON format, I used D3 to request data about
      specific counties for my circle graphs.
      </p>
      <div class = "row">
        <div class = "col-sm-10 col-sm-offset-1">
          <div class = "single-img" style = "display:inline-block; text-align:center;">
            <img class = "img-responsive" src = "http://i.imgur.com/Wfw0F7m.png">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
